*{
    margin:0;
    padding:0;
}
body{
    
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    background-color: #222222;
    color:#ccc; 
    padding:3px 25px; 
}
nav ul{
    list-style: none;
    width: 100%;
}
ul li{
    display: inline; 
}
ul li a{
    text-decoration: none;
    color:#ffffff;
    font-size: 18px;
    font-weight: lighter;
}
ul li a:hover{
    text-decoration: none;
    color:aqua;
}
nav .logo{
    font-size: 30px;
    font-weight: 700px;
}
.nav-items{
    display: inline-block;
}
.btn{
    font-size: 15px;
    padding:5px;
    border: none;
    margin-left: 10px;
}
.search-icon{
    border: 1px solid red;
    width:300px;
}
.search-icon input{
    width:270px;
    padding:4.5px;
    font-size: 15px;
    border:none;
    outline:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color:black;
}
ul li #search-span{
    color: black;
    height:inherit;
    text-align: center;
    margin-left: -3px;
    background-color: #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding:7.9px 6px;
    font-size: 15px;
}
ul li #search-span:hover{
    color:aqua;
    cursor: pointer;
}