{% extends "base.html" %}

{%block custom%}

welcome
{{super()}}
{% endblock %}

{% block body %}
{{super()}}

{%endblock%}

{% block content %}
<ul class="Category-menu">
    <li> <a href=""> New Releases</a> </li>
    <li> <a href="">Women</a> </li>
    <li> <a href=""> Men</a> </li>
    <li> <a href=""> Kids</a> </li>
    <li> <a href=""> Babies</a></li>
    <li> <a href=""> Beauty</a></li>
    <li> <a href=""> Cellular</a> </li>
    <li> <a href=""> Promo</a> </li>
    <li> <a href=""> Promo</a> </li>
    <li> <a href=""> Promo</a> </li>
</ul>

<div class="grid">
    
</div>
{%endblock%}